.nav-condition {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.35rem 0;
  .left{
    margin-left: 10px;
  }
  .back {
    background: url("../../img/common/back.svg") no-repeat;
    width: 1rem;
    height: 1rem;
    display: block;
    background-size: 100%;
  }
}