.keyword {
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0.4rem;
  &-title {
    display: flex;
    align-items: center;
    padding: 0.35rem 0.5rem;
    .icon {
      width: 1rem;
      height: 1rem;
      border-radius: 0.1rem;
      display: block;
      background-size: 5rem 3rem;
      margin-right: 0.3rem;
      background-image: url("../../../img/common/keyword.png");
    }
    .sub-title {
      font-size: 0.65rem;
      color: #999;
      font-weight: 300;
    }
    .tool {
      font-size: 0.65rem;
      color: #4cd964;
      .arrow {
        &::before {
          content: "";
          display: block;
          border-top: 0.1rem solid #4cd964;
          border-left: 0.1rem solid #4cd964;
          width: 0.5rem;
          height: 0.5rem;
        }
      }
      .down {
        &::before {
          transform: rotate(225deg);
        }
      }
      .up {
        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &-item {
      width: 25%;
      text-align: center;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      height: 2.5rem;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-size: 0.6rem;
    }
  }
}
